@mixin navi-big {
    .main-menu {
        display: block;
        position: static;
        width: auto;
        height: auto;
        top: auto;
        overflow: visible;
    }

    body.menu-open {
        padding-left: 0;
    }

    .main-menu.menu-open {
        width:auto;
    }

    .toggle-nav {
        display: none;
    }

    #main-nav {
        order: initial;
    }
}

@mixin navi-small {

    body {
        @include transition(.3s all ease);
    }

    body.menu-open {
        padding-left: 25rem;
        @include transition(.3s all ease);
    }

    .main-menu {
        display:block;
        position: fixed;
        right:100%;
        width: 25rem;
        top: 0;
        height: 100%;
        overflow: auto;
        @include transition(.3s all ease);
    }

    .main-menu.menu-open {
        width: 25rem;
        right: calc(100% - 25rem);
        @include transition(.3s all ease);
    }

    .toggle-nav{
        display: inline-block;
        width: 6rem;
        height: 5rem;
        background-color: transparent;
        border: .2rem solid $clear;
        color: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        padding: .8rem;
        margin: .5rem;
    }

    .toggle-nav:before {
        content: "";
        border-bottom: .6rem solid $clear;
        display: block;
        top: .8rem;
        position: absolute;
        width: 4rem;
        @include transition(all .5s ease);
    }

    .toggle-nav:after {
        content: "";
        border-bottom: 1.8rem double $clear;
        display: block;
        bottom: .8rem;
        position: absolute;
        width: 4rem;
        @include transition(all .5s ease);
    }

    .menu-open .toggle-nav::before {
        transform:  translate(0 1.1rem) rotate(-45deg);
        @include transition(all .5s ease);
    }

    .menu-open .toggle-nav::after {
        transform: translate(0 -1.2rem) rotate(45deg);
        border-bottom: .6rem solid $clear;
        @include transition(all .5s ease);
    }

    #main-nav {
        order: -1;
    }
}

.toggle-nav{
    @include for-tablet-portrait-up {
        display: block;
    }

    @include for-tablet-landscape-up {
        display: block;
    }

    @include for-desktop-up {
        display: none;
    }

    @include for-big-desktop-up {
        display: none;
    }

    @include for-phone-only {
        display: block;
    }
}



@include for-tablet-portrait-up {
    @include navi-small;
}

@include for-tablet-landscape-up {
    @include navi-big;
}

@include for-phone-only {
    @include navi-small;
}
